* {
  max-width: 100%;
}

/* header styles */

.header {
  display: block;
  text-align: left;
  font-size: 30px;
  margin: 10px 0;
}

.header-1 {
  margin-left: 5px;
}

.del-tag {
  width: 27%;
  margin-left: 70%;
  margin-top: 1%;
}

.search {
  margin-left: 20vmax;
  width: 25vmax;
}

.dropdown {
  margin-left: 70%;
}
.cartitem {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.headerDiv {
  display: flex;
}

.headerDiv div {
  justify-content: center;
}
.dropDownMenu {
  min-width: 500px;
}

.droDownDiv {
  display: flex;
  flex-direction: column;
}

.nav {
  height: 80px;
}
.search-div-cart {
  background-color: red;
}

/* Home Page */

.home {
  display: flex;
  flex: 1;
}

.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.products {
  width: 30%;
  margin: 10px;
}

.summary {
  width: 30%;
}

/* Media Queries */
@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search-div {
    display: none;
  }

  .products {
    width: 100%;
  }
  .dropDownMenu {
    min-width: 300px;
  }
}

@media (max-width: 1250px) {
  .search-div {
    width: 20%;
  }
  .dropdown {
    margin-left: 80%;
  }
  .dropDownMenu {
    min-width: 400px;
  }
}

/* --- */

.App {
  font-family: sans-serif;
  text-align: center;
}

.product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 150px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: all 175ms ease-in-out;
}

.product-details:hover {
  color: #fff;
  border-color: rgba(0, 174, 255, 0.5);
  background-color: rgba(0, 174, 255, 0.5);
}

.product-details:hover.checked {
  border-color: #00aeff;
  background-color: #00aeff;
}

.checked {
  position: relative;
  color: #fff;
  border-color: #00aeff;
  background-color: #00aeff;
}

.checked:after {
  position: absolute;
  z-index: 2;
  top: -15px;
  right: -15px;
  padding: 5px;
  font-size: 70%;
  border-radius: 4px;
  background-color: tomato;
  content: "Selected";
}
